<h1>Hospital Authorities</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  </thead>

  <tbody>
  <% @hospital_authorities.each do |hospital_authority| %>
      <tr>
        <td><%= hospital_authority.name %></td>
        <td><%= hospital_authority.email %></td>
        <td><%= hospital_authority.phone %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
