<h1>Listing ratings</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Doctor</th>
    <th>Patient</th>
    <th>Rating</th>
    <th>Comments</th>
  </tr>
  </thead>

  <tbody>
  <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.doctor.name%></td>
        <td><%= rating.patient.name %></td>
        <td><%= render partial: 'ratings/ratings', locals: {rating: rating} %></td>
        <td><%= rating.comments %></td>
      </tr>
  <% end %>
  </tbody>
</table>
