<h1>Listing ratings</h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Doctor</th>
    <th>Patient</th>
    <th>Number</th>
    <th>Comments</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.doctor_id %></td>
        <td><%= rating.patient_id %></td>
        <td><%= rating.number %></td>
        <td><%= rating.comments %></td>
      </tr>
  <% end %>
  </tbody>
</table>
