<h2>Rates <%= rate_new_link(@doctor) %></h2>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>For New patient</th>
    <th>For Old patient</th>
  </tr>
  </thead>

  <tbody>
  <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.title %></td>
        <td><%= rate.new_patient %></td>
        <td><%= rate.old_patient %></td>
      </tr>
  <% end %>
  </tbody>
</table>